// $(function () { 
// 	$('form').on('ajax:complete', function(event, data, status, xhr) {
// 		var car = data.responseText,
// 				name = data.name;
// 		$('#itemlist').append('<li>' + name + '</li>');
// 	});
// });